# Ignore packer output directories
output-*

# Ignore 
carbon-vm-*-2*
private.auto.pkrvars.hcl
.private.auto.pkrvars.hcl

dist/
overrides.yaml
test/

/packer/
/terraform/

*.tfstate
*.tfstate.backup
*.terraform
*.terraform.lock.hcl

!terraform/deployments/_remote-state/terraform.tfstate
!terraform/deployments/_remote-state/terraform.tfstate.backup

.hugo/public
.hugo/resources/
node_modules/
.hugo_build.lock
scratch
carbon.yaml
/carbon
deployments/images/
!deployments/images/README.md
